.nav_div{
    background-color: #f9d342;
    display: flex;
    align-items:center;
    width: 100%;
}

.nav_ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content:space-between;
}

.links{
      text-decoration: none;
      color:  #292826
}

.logo_div{
    width: 50%;
    font-family: 'Baloo Chettan', cursive;
    font-size: 1.75rem;
    padding:.9rem
}

.links_active{
    color: #f9d342;
    border-radius:10px 10px 0 0 ;

    padding: 1.7rem;
    background-color:  #292826;
}
@media only screen and (max-width: 700px){

.nav_div{
    display: block
}
.nav_ul{
    width: 80%;
    display: flex;
    cursor: pointer;
}
}